@import '../../normalize.css';

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.parent {
  border: 1px solid lightgray;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem auto;
  padding: 3rem;
  width: 450px;
}

.parent div {
  background-color: black;
  height: 100px;
  width: 100px;
}

/* End start code */

.parent div:nth-child(1) {
  background-color: blue;
  position: relative;
  top: 1rem;
  left: 1rem;
}

.parent div:nth-child(2) {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}

.parent div:nth-child(3) {
  background-color: green;
  position: fixed;
  top: 0;
  right: 0;
  /*
    left: 0;
    z-index: 10;
  */
}
