* {
  box-sizing: border-box;
}

body {
  font-family: 'Rokkitt', serif;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

header {
  background-color: #f9f9f9;
  padding: 3rem 0;
}

.header__brand {
  margin: 0 auto;
  width: 150px;
}

nav {
  margin-top: 2rem;
  text-align: center;
}

nav ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 2rem;
}

nav ul li a {
  color: #bbb;
  font-size: 4rem;
  font-weight: normal;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active {
  color: #444;
}

.header__social {
  margin-top: 2rem;
  text-align: center;
}

.header__social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__social ul li {
  display: inline;
}

.header__social ul li a {
  display: inline-block;
  text-decoration: none;
}

.header__social ul li:nth-child(2) {
  margin: 0 1rem;
}

.header__social ul li a svg {
  height: 48px;
  width: 48px;
}

main {
  padding: 4rem 0;
}

.projects-grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects figcaption {
  color: #444;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  text-align: center;
}

.footer {
  padding-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .projects-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  }

  figure {
    margin: 0;
  }

  figure img {
    height: auto;
    width: 100%;
  }
}
