@import '../../normalize.css';
@import './fonts.css';

* {
  box-sizing: border-box;
}

body {
  background-color: #1f2023;
  color: #1f2023;
  font-family: 'open_sans', Arial, Helvetica, sans-serif;
  /* font-family: 'LeagueSpartanVariable', 'open_sans', Arial, Helvetica, sans-serif; */
}

.wrapper {
  margin: 0 auto;
  max-width: 56.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'staatlichesregular', Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  align-items: center;
  background-color: #e7b91b;
  color: #1f2023;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  margin: 0;
  min-height: 80vh;
}

main {
  background-color: #f4f4f4;
  padding: 3rem;
}

section {
  margin-top: 3rem;
}

section:first-child {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  line-height: 1.5;
}

/* Variable font example adjustment */
main p {
  font-weight: 400;
}

footer {
  color: #f4f4f4;
  font-size: 0.9rem;
  padding: 1.5rem;
  text-align: center;
}
