* {
  box-sizing: border-box;
}

html {
  font-size: 16px;

  /*background: url('../images/texture.png') repeat;*/
}

body {
  font-family: 'Economica', sans-serif;
}

figure {
  margin: 0;
}

.navbar {
  background-color: #231f20;
  height: 4.69rem; /* 75px */

  /* --------------------- */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* --------------------- */
}

.brand {
  /* http://spartanracemedia.com/logos/SR_Logo_2color_white_on_black_solidtext.jpg */
  background-image: url('../images/logo.jpg');
  background-repeat: no-repeat;
  background-position: left top;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 1.25rem 2rem 0;
  text-align: right;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  color: #fff;
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: #de4c26;
}

#introduction {
  /* https://s-media-cache-ak0.pinimg.com/originals/52/ed/cd/52edcd59755183fcf1c5f8f073321480.jpg */
  background: url('../images/hero.jpg') no-repeat;
  background-size: cover;

  /* height: 50vh */
  height: 100vh;
  width: 100%;
}

.statement {
  background-color: #fff;
  font-size: 5rem;
  font-weight: bold;
  padding: 5rem 0; /* 80px */
  text-align: center;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.3);
  text-transform: uppercase;
}

.featured-project {
  background-color: #000;

  /* --------------------- */
  position: relative;
  /* --------------------- */
}

.featured-project img {
  max-width: 100%;

  transition: opacity 0.6s ease-in-out;
}

.featured-project:hover img {
  opacity: .6;
}

.featured-project figcaption {
  color: #fff;
  font-size: 3rem;
  padding-left: 2rem;

  opacity: 0;
  /*transition: opacity 0.6s ease-in-out;*/

  /* --------------------- */
  position: absolute;
  bottom: 20px;
  /* --------------------- */
}

.featured-project:hover figcaption {
  opacity: 1;
}

.previews {
  margin: 2rem auto;
  max-width: 800px;
}

.previews .row {
  /* --------------------- */
  overflow: auto;
  /* --------------------- */
}

.previews .col {
  border-left: 3px solid #fff;
  width: 200px;

  /* --------------------- */
  float: left;
  /* --------------------- */
}
