/*
#    /$$$$$$              /$$
#   /$$__  $$            | $$
#  | $$  \__/  /$$$$$$  /$$$$$$   /$$   /$$  /$$$$$$
#  |  $$$$$$  /$$__  $$|_  $$_/  | $$  | $$ /$$__  $$
#   \____  $$| $$$$$$$$  | $$    | $$  | $$| $$  \ $$
#   /$$  \ $$| $$_____/  | $$ /$$| $$  | $$| $$  | $$
#  |  $$$$$$/|  $$$$$$$  |  $$$$/|  $$$$$$/| $$$$$$$/
#   \______/  \_______/   \___/   \______/ | $$____/
#                                          | $$
#                                          | $$
#                                          |__/
*/
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  background-color: lightgray;
  font: 100%/1.4 Arial, sans-serif;
}

.wrapper {
  background-color: #fff;
  bottom: 0;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
  height: 360px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 640px;
}

.sound_stage {
  background-color: transparent;
  bottom: 0;
  height: 32px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: auto;
}
